
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重点在谈项目管理</title>
    <link href="/css/hbes.grid.css" rel="stylesheet" />
    <link href="/css/hbes.reset.css" rel="stylesheet" />
    <link href="/css/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/hbes-ui.js"></script>
    <script src="/js/layui/lay/dest/layui.all.js"></script>
    <script src="/js/zTree/jquery.ztree.core.min.js"></script>

</head>
<body>
    <div id="page-content" class="page-content">

        <div class="page-toolbar">
            <table>
                <tr>
                    <td>项目名称：<input type="text" id="txt_Name" class="hbes-input">
                        所属行业：
                        <input type="text" id="txt_type" class="hbes-input">
                    </td>

                    <td style="padding-left: 10px;">
                        <button onclick="search()" id="btn_Query"   class="layui-btn layui-btn-mini  layui-btn-normal">
                            <i class="layui-icon">&#xe615;</i>查询
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="page-toolbar">
            <button   id="btn_Add" onclick="add()" class="layui-btn layui-btn-small">
                <i class="layui-icon">&#xe608;</i>添加
            </button>
            <button   id="btn_Edit" onclick="edit()" class="layui-btn layui-btn-small  hbes-btn-update">
                <i class="layui-icon">&#xe642;</i>修改
            </button>
            <button   id="btn_Delete" onclick="del()" class="layui-btn layui-btn-small  layui-btn-danger">
                <i class="layui-icon">&#xe640;</i>删除
            </button>

            <button   id="btn_ResetPwd" onclick="resetPwd()" class="layui-btn layui-btn-small hbes-btn-set">
                <i class="layui-icon">&#x1002;</i>提交审核
            </button>
        </div>
         <div id="grid" class="page-grid" pagesize="20" pagelist="[10,20,50,100]" showpagealige="bottom" multiselect="false" showpager="true" url="/key/key/GetPageData" >
            <div property="columns">
                <div type="indexcolumn" width="30"></div>
                <div field="Code" width="120">项目编号</div>
                <div field="Name" width="120">项目名称</div>
                <div field="Number" width="120">所属行业</div>
                <div field="AgreedMatters" width="120">项目内容</div>
                <div field="AddTime" width="120">添加时间</div>
                <div field="AddUserName" width="120">添加用户</div>
            </div>
        </div>

        <script type="text/javascript">
            var grid = hbes.get("grid");
            $(function () {
                search();
            });
            function search() {
                var userName = $("#txt_type").val();
                var name = $("#txt_Name").val();

            //    var data=[{ID:"111",Code:"ZD2017001",Name:"汉能集团太阳能薄膜发电项目",Number:"第一产业",AgreedMatters:"关于第一产业",AddTime:"2017-05-25",AddUserName:"李某"},
            //    {ID:"222",Code:"ZD2017002",Name:"重点二项目",Number:"第二产业",AgreedMatters:"关于第二产业项目内容",AddTime:"2017-05-28",AddUserName:"李2某"},
            //{ID:"333",Code:"ZD2017003",Name:"重点三项目",Number:"第三产业",AgreedMatters:"关于第三产业项目内容",AddTime:"2017-05-29",AddUserName:"李3某"}];
            //    grid.setData(data);
            //    grid.setTotal(3);
            //    grid.showpagealige = "bottom";
                grid.loadGridData({ "userName": userName, "name": name });
            }
            function reload() {
                grid.reload();
            }
            function add() {
                // 标题      //打开页面               宽    高     窗口正常关闭（非手动关闭）后执行的方法 
                openWin("添加重点在谈项目", "/Key/Key/Add", 800, 500, "reload");
            }

            function edit() {
                var row = grid.getHbesGridSelected();//选择一行
                if (row) {
                    openWin("修改重点在谈项目", "/Key/Key/Add", 800, 500, "reload");
                    6
                }
                else {
                    layer.alert("请选择一条记录!", { icon: 0, skin: "layer-ext-moon" });

                }

            }
            function del() {
                var row = grid.getHbesGridSelected();
                if (row) {
                    layer.confirm("确认删除？", { title: "提示信息", closeBtn: 0, icon: 3, btn: ["确认", "取消"] },
                        function (index) {
                            layer.close(index);
                            submitData("", { userId: row.Id }, function (data) {
                                reload();
                            });

                        }, function () {

                        });

                }
                else {
                    layer.alert("请选择一条记录!", { icon: 0, skin: "layer-ext-moon" });

                }
            }
            function resetPwd() {
                var row = grid.getHbesGridSelected();
                if (row) {
                    layer.confirm("确认重置？", { title: "提示信息", closeBtn: 0, icon: 3, btn: ["确认", "取消"] },
                        function (index) {
                            layer.close(index);
                            submitData("/SysBasic/User/ResetPwd", { userId: row.Id });

                        }, function () {

                        });

                }
                else {
                    layer.alert("请选择一条记录!", { icon: 0, skin: "layer-ext-moon" });

                }
            }
            function bindRole() {
                var row = grid.getHbesGridSelected();

                if (row) {
                    openWin("绑定角色（" + row.Name + "）", "/SysBasic/User/BindRole?userId=" + row.Id, 550, 400, "reload");

                }
                else {
                    layer.alert("请选择一条记录!", { icon: 0, skin: "layer-ext-moon" });

                }
            }
        </script>

    </div>
</body>
</html>

