
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="/css/hbes.grid.css" rel="stylesheet" />
    <link href="/css/hbes.reset.css" rel="stylesheet" />
    <link href="/css/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/hbes-ui.js"></script>
    <script src="/js/layui/layui.all.js"></script>  
    <script src="/js/zTree/jquery.ztree.core.min.js"></script>
    <style type="text/css">
        .role_p {
        float:left;   height:20px; margin-top:4px; margin-right:10px;
        }
        .role_p input
         {
        margin:0px; padding:0px; float:left; margin-top:3px;
        }

    </style>
</head>
<body style="overflow-x: hidden;position:fixed;">
    <div id="page-content" class="page-content">

        @foreach (kfxms.Entity.SysBasic.Sys_Role role in (List<kfxms.Entity.SysBasic.Sys_Role>)ViewData["roleList"])
        {
            string check = "";
            foreach (kfxms.Entity.SysBasic.Sys_UserAndRole uar in (List<kfxms.Entity.SysBasic.Sys_UserAndRole>)ViewData["meRoleList"]) 
            {
                if (uar.RoleId.Equals(role.Id)) 
                {
                    check = "checked='checked'";
                }
            }
            <p class="role_p"><input  type="checkbox" @check value="@role.Id"  class="role_cb" /><span>@role.RoleName</span> </p>
           
        }
        
       
     </div>

         <div class="bottomBtnDiv">
           <button class="layui-btn layui-btn-small layui-btn-normal" onclick="save()" type="button">确定</button>
           <button class="layui-btn layui-btn-small layui-btn-primary" onclick="closeWin()" type="button">关闭</button>
          </div>
   <script type="text/javascript">
       function save()
       {
           var roleIds = "";
           var role_cb = $(".role_cb");
           if (role_cb != undefined && role_cb.length > 0)
           {
               for (var i = 0 ; i < role_cb.length; i++)
               {
                   if (role_cb[i].checked)
                   {
                       roleIds += role_cb[i].value+",";
                   }
               }

           }
           if (roleIds.trim() != "")
           {
               roleIds = roleIds.substring(0, roleIds.length - 1);
           }
           
           var userId = "@ViewData["userId"]";
           var postData = { userId: userId, roleIds: roleIds };
           submitData("/SysBasic/User/BindRoleHandler", postData);
       }

    </script>
</body>
</html>
