@charset "utf-8";
/*1 重定义浏览器默认样式*/
* { word-wrap: break-word; }
html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset { margin: 0; padding: 0; }
body { height: 100%; width: 100%; }
ul, ol, dl { list-style-type: none; }
html, body { *position: static; }
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button { overflow: visible; vertical-align: middle; outline: none; }
body, th, td, button, input, select, textarea { font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53"; font-size: 12px; color: #333; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; }
body { line-height: 1.6; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
a, area { outline: none; blr: expression(this.onFocus=this.blur()); }
a { text-decoration: none; cursor: pointer; }
    a:hover { text-decoration: underline; outline: none; }
    a.ie6:hover { zoom: 1; }
    a:focus { outline: none; }
    a:hover, a:active { outline: none; }
:focus { outline: none; }
sub, sup { vertical-align: baseline; }
/*img*/
img { border: 0; vertical-align: middle; }
a img, img { -ms-interpolation-mode: bicubic; }
.img-responsive { max-width: 100%; height: auto; }
/*IE下a:hover 背景闪烁*/
html { overflow: -moz-scrollbars-vertical; zoom: expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this)); }

/*HTML5 reset*/
header, footer, section, aside, details, menu, article, section, nav, address, hgroup, figure, figcaption, legend { display: block; margin: 0; padding: 0; }
time { display: inline; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
legend { width: 100%; margin-bottom: 20px; font-size: 21px; line-height: 40px; border: 0; border-bottom: 1px solid #e5e5e5; }
    legend small { font-size: 15px; color: #999; }
svg:not(:root) { overflow: hidden; }
fieldset { border-width: 0; padding: 0.35em 0.625em 0.75em; margin: 0 2px; border: 1px solid #c0c0c0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
/*
	Name:			style_clearfix
	Example:		class="clearfix|cl"
	Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl, .clearfix { zoom: 1; }
.hbes-mask { 
    position: absolute; left: 0; top: 0; width: 100%; height: 100%; 
    opacity: 0.3; filter: alpha(opacity=30);   display: none; background: #000; z-index: 1;

}
.hbes-mask-msg { position: absolute; top: 50%; 
                 padding:7px 10px 0px 25px;
                 width: auto; height: 24px; font-size: 12px; border-width: 1px; 
                  border-style: solid; 
                  display: none; background: url('../images/loading16.gif') no-repeat scroll 5px center; 
                  border-color: #808080; background-color: #ccc; 
                  z-index: 2; }
.ma-20 { margin: 20px; }
.formtable { width: 100%; border-collapse: collapse; table-layout:fixed; }
    .formtable tr { height: 30px; }
        .formtable tr td { border: 1px solid #c0c0c0; }
    .formtable .ft_label { background-color: #F5F5F5; text-align: center; }
    .formtable .ft_control { background-color: #ffffff; text-align: left; padding: 4px 1px 4px 6px; }

.bottomBtnDiv { position: absolute; bottom: 10px; right: 20px; }
.hbes-tree { margin: 0px; padding: 0px; background: #F0F6E4; position: absolute; min-height: 30px; }
.hideEll { float: left; width: 140px; text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; height: 20px; }
.hext2 { float: left; margin-right: 6px; margin-top: 2px; cursor: pointer; height: 20px; }
.hext0 { float: left; margin-right: 6px; height: 20px; }
.page-content
{
    margin:15px;
}
.hbes-input
{
 width:155px; height:28px; border:1px solid #d2d2d2; border-radius:2px; padding:0px; margin:0px;padding-left:5px; 
}
 .hbes-input:hover{
        border:1px solid #c2c2c2;
    }
    .hbes-input:focus {
         border:1px solid #c2c2c2;
    }
.hbes-btn-update {
 background-color:#5FB878 !important;
}
.hbes-btn-set {
     background-color:#393D49 !important;
}
.hbes-btn-save 
{
 background-color:#1E9FFF !important;
}

.div_combobx
{
     border:1px solid #d2d2d2;
     border-radius:2px;  margin:0px; display:inherit;  vertical-align:middle; 
}
.div_combobx :hover {cursor:pointer;}
.div_combobx i {width:20px; float:right; }
.div_combobx i:hover {color:#ccc; }
    
.hbes-combox {border:none; height:28px; width:135px;padding-left:5px; }
.div_combox_option {height:auto; max-height:200px; overflow-y:auto;border:1px solid #d2d2d2;
                     position:absolute; z-index:3; margin-top:4px; background-color:#ffffff;}
 .div_combox_option p { height:20px;  padding:3px; margin-top:2px;}
 .div_combox_option p:hover { background:#F2F2F2;}
 .div_combox_option p input {
float:left; margin-top:3px;
 }
.div_combox_option p span {
    float:left; margin-left:3px;
    }
